@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Playfair+Display:ital,wght@0,700;1,500&display=swap');

/* LandingPage */

.itemSection {
 width: 100%;
 
}

.itemSection_wrap {
    font-family: 'Playfair Display', serif;
    color: #000;
    display: flex;
    justify-content: center;
    gap:1em;

}

.itemSection_wrap >div {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    white-space: nowrap;

}

.LandingPage_render {
    /* display: flex; */
    align-items: center;
    justify-content: center;
 
}


/* RenderBest, RenderNew */

.Render {
   
}

.Render_wrap {

    padding: 20px;

}

.Render_wrap >div{
    margin-left:50px;

}
.Render_wrap img {

    width: 300px;
    height: 300px;


}

.Render_wrap .title {
    font-size: 20px;
 
 
 }
 
 .Render_wrap .price {
 
     font-size: 20px;
  
  }



@media (max-width: 767px) {

    .itemSection{
    
      flex-wrap: wrap;
    }

    .itemSection{
        
    }


    .itemSection_wrap >div {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
    
    }

    /* RenderBest, RenderNew */

    .Render_wrap >div{
        margin-left:10px;
    
    }

    /* .Render_wrap {
    
     
    
        width: 200px;
        height: 300px;
        padding: 20px;
        
        
        
    }

    .Render_wrap img {

        width: 200px;
        height: 200px;
    
    }

    .Render_wrap .title {
        font-size: 12px;
    }
    .Render_wrap .price {
        font-size: 12px;
    } */
  }




/* 흐르는 text css */

.flow-container {
    margin-bottom: 20px;
}

.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 5rem;
    font-weight:bold;
    color: #000;
    font-family: 'Playfair Display', serif;

}
.flow-text:hover {
  
  color: #9D9993;
}
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}