@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Playfair+Display:ital,wght@0,700;1,500&display=swap');

/* LandingPage */

.itemSection {
 width: 100%;
 margin-top: -20px;
 
}

.itemSection_wrap {
    font-family: 'Playfair Display', serif;
    color: #000;
    display: flex;
    justify-content: center;
    gap:1em;

}

.itemSection_wrap >div {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    white-space: nowrap;

}

.LandingPage_render {
    /* display: flex; */
    align-items: center;
    justify-content: center;
 
}


/* RenderBest, RenderNew */

.Render {
   
}

.Render_wrap {

    padding: 20px;

}

.Render_wrap >div{
   

}
.Render_wrap img {

    width: 300px;
    height: 300px;


}

.Render_wrap .title {
    font-size: 20px;
 
 
 }
 
 .Render_wrap .price {
 
     font-size: 20px;
  
  }


  /* Slick Slider */


/* 반응형 767px 이하 */
@media (max-width: 767px) {

    .itemSection{
    
      flex-wrap: wrap;
    }

    .itemSection{
        
    }


    .itemSection_wrap >div {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
    
    }

    /* RenderBest, RenderNew */

    .Render_wrap >div{
        margin-left:10px;
    
    }

    .itemSection {
    
    }

    .animated-title {
     margin-top:30px;
    }
    /* .Render_wrap {
    
     
    
        width: 200px;
        height: 300px;
        padding: 20px;
        
        
        
    }

    .Render_wrap img {

        width: 200px;
        height: 200px;
    
    }

    .Render_wrap .title {
        font-size: 12px;
    }
    .Render_wrap .price {
        font-size: 12px;
    } */
  }




/* 흐르는 text css */




.animated-title {
  color:#000;
  font-size:70px; 
  font-family: 'Playfair Display', serif;
  font-weight: 500; 
  position: relative; 
  width: 100%;
  max-width:100%; 
  height: auto; 
  padding:100px 0;
  margin-top:-100px;
  margin-bottom: 20px;
  overflow-x: 
  hidden; 
  overflow-y: hidden; }
.animated-title .track {position: absolute; white-space: nowrap;will-change: transform;animation: marquee 60s linear infinite; }
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }